# .htaccess file

RewriteEngine On
RewriteBase /

# Check if the requested file/folder exists
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Redirect to the 404 page if it doesn't exist
RewriteRule . /404.html [L]
